---
import "@/styles/global.css";
import HeaderLink from "./HeaderLink.astro";
import { hstack } from "styled-system/patterns";
import { css } from "styled-system/css";
import m01n from "@/assets/m01nm01n-logo.png";
import { Image } from "astro:assets";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header
  class={css({
    borderBottom: "1px solid {colors.border}",
    borderRadius: "1rem",
  })}
>
  <nav
    class={hstack({
      mx: "auto",
      maxWidth: "7xl",
      padding: "1em",
      justifyContent: "space-between",
      alignItems: "center",
    })}
  >
    <a
      href="/"
      class={css({
        position: "relative",
        textAlign: "center",
      })}
      ><Image
        src={m01n}
        alt="m01nm01n"
        class={css({
          width: "24",
        })}
      /></a
    >
    <div class={hstack({ gap: 10, alignItems: "center", height: "100%" })}>
      <HeaderLink
        href="/"
        class={css({ height: "100%", display: "flex", alignItems: "center" })}
      >
        About</HeaderLink
      >
      <HeaderLink
        href="/contests"
        class={css({ height: "100%", display: "flex", alignItems: "center" })}
      >
        Contests</HeaderLink
      >
      <DarkModeToggle />
    </div>
  </nav>
</header>
